body {
  background-color: #e4e5e0;
  font-family: 'Montserrat';
  font-weight: 100;
}

.hide-overflow {
  overflow: hidden;
}

.custom-height {
  height: calc(100vh - 4rem);
}

.custom-menu-height {
  height: calc(100dvh - 4vw)
}